<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
    <head>  
        <title>Welcome</title>  
        
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
             
       <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
          
           
  <style type="text/css">
           form {
	max-width: 665px;
	margin: 20px auto;
	padding: 20px 20px;
	background: #fff;
	border-radius: 8px;

}
img-fluid{
max-width: 100%;
height:Auto;
margin:50px 50px 50px 50px;
}
nav navbar-nav navbar-right li a{
color:black;
}
nav navbar-nav{
color:black;
}
</style>
    </head>  
    <body>  
   
    <div>
     <nav class="navbar navbar-inverse" style="background-color:rgb(64, 0, 64)" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Xpense Tracker</a>
    </div>
    <ul class="nav navbar-nav" >
      <li class="active"><a href="/home">Instructor Home</a></li>
      <li><a href="/uploadNewAss">upload Assignment</a></li>
      <li><a href="/viewResp">view Responses</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="color:black">
      <li><a href="/loginIns"><span class="glyphicon glyphicon-log-in"></span> LOGOUT</a></li>
    </ul>
  </div>
</nav>
</div>
<center>
		<div class="container">
        <h2>All pending assignemnt</h2>
      
        <table class="table" style="border:1px solid black">
         <thead>
            <tr>
                <th>student Roll number</th>
                <th>Assignment Id</th>
                <th>uploadedDate</th>
                <th>assignment Answer</th>
            </tr>
             </thead>
             <tbody>
            <tr th:each="ass : ${listDocs}">
                <td th:text="${ass.Id}"></td>
                <td th:text="${ass.AssId}"></td>
                <td th:text="${ass.uploadedDate}"></td>
                <td>
                <img src="/Images/document.png" width="50"/>
				<div><a th:href="@{'/download?id='+${ass.Id}}">[[${ass.NAme}]]</a></div>
                </td>
                 </tr>
            </tbody>
        </table>
    </div>
   </center>
   </body>
   </html>
   
