<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Congratulations!</title>
			<style>
		body {
	font-family: 'Nunito', sans-serif;
	color: #384047;
	padding: 20px 20px;
	background: url("../images/mail-bg.jpg");
	background-size: cover;
	line-height: 2;
}
		
		form {
	max-width: 665px;
	margin: 50px auto;
	padding: 20px 20px;
	background: #ffedfd;
	border-radius: 20px;
}
</style>
	</head>
	<body>
	 <nav class="navbar navbar-inverse" style="background-color:#4F000D">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">BloodDonor</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Success</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
		<form>
			<h3>Congratulations! You have successfully registered!!!!</h3>
		</form>
	</body>
</html>