<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 
    <title>Phrase Processor</title>
    <style>
    body {
  background: url('https://wallpapercave.com/wp/wp1920734.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}</style>
  </head>
  <body>

<center>
 <div class="container">
  <div class="card border-info shadow my-5">
    <div class="card-body p-5">
       <div class="card-header bg-transparent border-info"><h1 class="font-weight-heavy">Phrase Processor</h1></div>
       <div style="height: 50px"></div>
       <div class="row" style="padding-left: 80px;">
    
 <div class="card text-white bg-success mb-3" style="max-width: 18rem;padding-right: 10px;">
  <div class="card-header"><h3>Text Processing</h3></div>
  <div class="card-body">
    <h5 class="card-title">Stem Text</h5>
    <p class="card-text">Stem your text</p>
    <a href="/ST" class="btn btn-dark">Let's Stem </a>
  </div>
</div>
 <div class="card text-black bg-warning mb-3" style="max-width: 18rem;padding-right: 10px;">
  <div class="card-header"><h3>Text Processing</h3></div>
  <div class="card-body">
    <h5 class="card-title">Extract phrases</h5>
    <p class="card-text">get list of phrases from your text.</p>
    <a href="/EP" class="btn btn-dark">Let's extract</a>
  </div>
</div>
 <div class="card text-light bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header"><h3>Text Processing </h3></div>
  <div class="card-body">
    <h5 class="card-title">know text sentiment</h5>
    <p class="card-text">know about your text sentiments</p>
    <a href="/TS" class="btn btn-dark">Let's GO</a>
  </div>
</div>
<div class="row" style="padding-left: 400px;">
<a href="/" class="btn btn-warning"> Back to Main Home</a>
</div>
</div>
      <div style="height: 50px"></div>
       <div class="card-footer bg-transparent border-info">You've reached the end!</div>
    </div>
  </div>
</div>
</center>
    

    </body>
</html>